.portfolio-heading {
    margin-top: 3.5rem;
    color: white;
    font-weight: 400;
}

.card-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: left;
    /* margin-left: 3rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   /* grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem; */
    height: 100%;
}

.card-text {
    font-size: 16px;
}

.card-title {
    font-size: 24px;
}

.card {
    margin: 20px;
    width: 24rem;
    background-color: #516c8d;
    color: white;
    border: none;
}

.github-link i{
    border-radius: 0%;
    color: white;
    font-size: 3.5rem;

}

.deploy-link i{
    position: relative;
    top: -10px;
    border-radius: 7px;
    color: #516c8d;
    font-size: 1.9rem;
    background-color: white;
    padding: 10px;

}


  img { 
     border-radius: 0;
 }
