@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@font-face {
  font-family: 'The Historia Demo';
  src: url('fonts/thehistoriademo-webfont.woff2') format('woff2'),
       url('fonts/thehistoriademo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
    /* background: black; */
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}

.profile-pic {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 250px;
    height: 250px;
    border-radius: 10rem;
    
}

body {
    background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
    /* background:  rgb(72, 75, 83); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Nunito', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.name-tag {
    font-size: 12rem;
    font-family: "The Historia Demo", sans-serif;
    background: linear-gradient(to bottom, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding: 1rem; */
    user-select: none;
    margin-bottom: 0;
}

.name-subtitle {
    font-size: 2rem;
    font-weight: 300;
}

.social-icons {
    margin-bottom: 10rem;
}
.fab {
    font-size: 50px;
    margin: 10px;
    color: white;
    border-radius: 300px;
}

.fab:hover {
    color: #00d1b2;
}

@media screen and (max-width: 600px) {
    .profile-pic {
        width: 200px;
        height: 200px;
    }
    .name-tag {
        font-size: 7rem;
    }

    .name-subtitle {
        font-size: 1.5rem;
    }
}